[Service]
Type=notify
ExecStart=/usr/bin/turnip controller --serial /dev/ttyUSB0 --baud 2000000 --mtu 8000 --interface turnip0

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
